
// using this for styling the home section

.home-background{
	 background: url('../images/placeimg_1000_800_nature.jpg') no-repeat 0px -100px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width:1024px){

   background: url('../images/placeimg_1000_800_nature.jpg') no-repeat 0px -100px cover;

  }

  @media(max-width:400px){
    background: url('../images/placeimg_1000_800_nature.jpg') no-repeat 0px -100px;
  }



  
}

.home-header{
 @include rem(font-size,50px);
 @include text-shadow-basic(rgba(0,0,0,.5));
}

.home-subhead{
  @include text-shadow-basic(rgba(0,0,0,.5));
}

.home-btn{
  display:block;
  width:40px;
  height:40px;
  cursor:pointer;
  img{
    width:40px;
    height:40px;
  }
}

.home-txt-color{

	color:#ffffff;
}






