
// using this for styling the home section

.home-background{
	


	 background: url('../images/placeimg_1000_800_nature.jpg') no-repeat 0px -100px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-txt-color{

	color:#ffffff;
}






