
$aboutSectionBG:#c2cecf;
$teamSectionBG:#778899;
$skillsSectionBG: #c2cecf;



$headerSize:36px;

$nav-text-color:#666;
$nav-hover:#778899;
$navigation-bg-color:#fff;

$active-color:#000;

$icon-bg-circle-color:#bfa5a5;

$skillIconBg:#778899;

